<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="packages" source="app.debug.logging.package.list" defaultValue="UNDEFINED"/>

    <jmxConfigurator />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="dev | openapi">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>

    <springProfile name="!dev &amp; !openapi">
        <include resource="org/springframework/boot/logging/logback/structured-console-appender.xml" />
    </springProfile>

    <if condition='!"${packages}".contains("UNDEFINED")'>
        <then>
            <turboFilter class="com.example.templateproject.web.configuration.DebugLoggingTurboFilter">
                <packages>${packages}</packages>
                <MDCKey>debugLevel</MDCKey>
                <Value>on</Value>
                <OnMatch>ACCEPT</OnMatch>
            </turboFilter>
        </then>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
