<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="enableDebugLogging" source="app.debug.logging.enabled" defaultValue="false"/>
    <springProperty scope="context" name="packages" source="app.debug.logging.package.list" defaultValue="UNDEFINED"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>enableDebugLogging</key>
        <value>true</value>
    </condition>
    <if>
        <then>
            <turboFilter class="com.example.templateproject.web.configuration.DebugLoggingTurboFilter">
                <packages>${packages}</packages>
                <MDCKey>debugLevel</MDCKey>
                <Value>on</Value>
                <OnMatch>ACCEPT</OnMatch>
            </turboFilter>
        </then>
    </if>

    <springProfile name="dev | openapi">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!dev &amp; !openapi">
        <include resource="org/springframework/boot/logging/logback/structured-console-appender.xml" />

        <appender name="OPEN_TELEMETRY" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
            <captureExperimentalAttributes>true</captureExperimentalAttributes>
            <captureCodeAttributes>true</captureCodeAttributes>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="OPEN_TELEMETRY"/>
        </root>
    </springProfile>
</configuration>
